/*General*/
body {
    background-color: #0a192f;
}



/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.4);
}



/*Waving Hand Emoji Animation*/
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: initial;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}

.wave img {
    max-width: 45px;
}


.wave:hover {
    animation-name: wave-animation;
    cursor: pointer;
}
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }


/*Intro*/
.intro,
.about,
.skills {
    margin-top: 10%;
}

.title {
    color: #e1ad01;
    padding: 15px;   
}

.title h3 {
    font-size: 40px;
}

.title::after {
    content: " ";
    position: absolute;
    background-color: lightblue;
    width: 250px;
    height: .1rem;
    left: 0;
    right: 0;
    margin: auto;
}

.sub-title h6 {
    color: #e1ad01;
    font-size: 1.5rem;
    padding: 5px;
}



.hello, .hello1 {
    color: #ffffff;
    font-size: 30px;
}

.name {
    color: #e1ad01;
    font-size: 80px;
    padding: 0;
    margin-top: 0;
}

.desc {
    color: #ffffff;
    font-size: 30px;
}


/*About Section*/
.about p {
    color: #ffffff;
    font-size: 1.2rem;
}



/*Skills Section*/
.skills-name {
    display: inline-block;
    padding: 1.5rem;
}


.skills-name h6 {
    color: #ffffff;
    font-size: .8rem;
    text-align: center;
    padding-top: 5px;
}


.skills-name img {
    width: 45px;
    height: 45px;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/*My Works*/
.project {
    padding: 15px;
}

.project-title {
    color: #e1ad01;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.project-desc p {
    color: #ffffff;
    text-align: justify;
}


/*Back To Top*/
.back-to-top {
    float: right;
    max-width: 45px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}